<div class="row">
    <div class="center">
        <h5>Contact Me</h5>
        <div class="contact-list-container">
            <div class="row">
                <em>Email: </em><a href="externalLinks.MAIL_URL">{{externalLinks.EMAIL_ADDRESS}}</a>
            </div>
            <div class="row">
                <em>LinkedIn: </em><a href="externalLinks.LINKEDIN_URL">{{externalLinks.LINKEDIN_URL}}</a>
            </div>
            <div class="row">
                <em>GitHub: </em><a href="externalLinks.GITHUB_URL">{{externalLinks.GITHUB_URL}}</a>
            </div>
        </div>
    </div>
</div>