<div class="paralax-mixer paralax-container"></div>
<div class="footer">
    <div class="valign-wrapper max-height">
        <div class="row footer-row">
            <div class="col s12 center standard-text">
                <div class="icon-wrapper">
                    <!-- https://www.iconfinder.com/hsynckr -->
                    <app-social-icon filename="email.png" [href]="externalLinks.MAIL_URL"></app-social-icon>
                    <app-social-icon filename="linkedin.png" [href]="externalLinks.LINKEDIN_URL"></app-social-icon>
                    <app-social-icon filename="facebook.png" [href]="externalLinks.FACEBOOK_URL"></app-social-icon>
                    <app-social-icon filename="github.png" [href]="externalLinks.GITHUB_URL"></app-social-icon>
                    <app-social-icon filename="spotify.png" [href]="externalLinks.SPOTIFY_URL"></app-social-icon>
                    <app-social-icon filename="instagram.png" [href]="externalLinks.INSTAGRAM_URL"></app-social-icon>
                    <app-social-icon filename="soundcloud.png" [href]="externalLinks.SOUNDCLOUD_URL"></app-social-icon>
                </div>
            </div>
        </div>
    </div>
</div>