<div class="paralax-mixer paralax-container"></div>
<div class="footer">
    <div class="valign-wrapper max-height">
        <div class="row footer-row">
            <div class="col s12 center standard-text">
                <div class="icon-wrapper">
                    <!-- https://www.iconfinder.com/hsynckr -->
                    <app-social-icon filename="email.png" href="mailto:rosenbeckerjw@gmail.com"></app-social-icon>
                    <app-social-icon filename="linkedin.png" href="https://www.linkedin.com/in/joseph-rosenbecker/"></app-social-icon>
                    <app-social-icon filename="facebook.png" href="https://www.facebook.com/joe.rosenbecker"></app-social-icon>
                    <app-social-icon filename="instagram.png" href="https://www.instagram.com/himynameisjoe44/"></app-social-icon>
                    <app-social-icon filename="twitter.png" href="https://twitter.com/himynameisjoe44"></app-social-icon>
                    <app-social-icon filename="soundcloud.png" href="https://soundcloud.com/himynameisjoe44"></app-social-icon>
                    <app-social-icon filename="spotify.png" href="https://open.spotify.com/user/joerosenbecker"></app-social-icon>
                </div>
            </div>
        </div>
    </div>
</div>