<div>
    <p>
        I'm a software developer who graduated from University of Wisconsin Madison in 2016
        and I've been working at <a href="https://www.centare.com">Centare</a> ever since. 
        In terms of technologies my specializations would be with Node.js, .NET, Java, and Angular (both 1 and 2+). 
        I'm passionate for finding the next up and coming trends in the tech world, which
        is why the "wild west" world of javascript frameworks has been my primary focus 
        as of late. With all of these emerging technologies and libraries, I like to find how
        each one can be used to improve a user's experience - because at the end of the day
        software is built for the user.
    </p>
    <p>
        When I'm not writing code I'm always happy going hiking, listening to or creating music, 
        watching movies, or finding my next TV series to work my way through.
    </p>
</div>